@import "reset.css";
@import "fonts.css";
@import "small.css";
@import "medium.css";
@import "desktop.css";

body {
    background: #ec008c;
    color: #fff;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    font: 20vmin/1 HUGEAvantGardeBold;
    letter-spacing: -0.06em;
    text-align: center;
}

.navigation {
    position: relative;
    display: block;
    height: 70px;
}

.navigation .logo {
    font-size: 1.4em;
    float: left;
    margin: 20px 48px 20px 24px;
}

.navigation .logo a img{
    max-width: 60px;
}

.navigation li:hover > a {
    background-color: white;
    color: #ec008c;
}

.navigation .sub li:hover > a {
    background-color: #eee;
}

.content {
    width: 100%;
    background: url('../images/background-image.jpg');
    background-size: contain;
    background-color: white;
    background-repeat: no-repeat;
}

.footer p {
    max-width: 968px;
    text-align: center;
    margin: 0 auto;
    background-color: white;
}