@media only screen and (min-width : 320px) and (max-width : 768px) {

	.content {
	    height: 240px;
	}

	.navigation ul {
		position: absolute;
        background-color: #FFFFFF;
        padding-top: 12px;
        width: 60%;
        margin-top: 70px;
        z-index: 2000;
    }

    .navigation .logo {
        display: none;
    }

    .close-nav {   
        display:none; 
        float: right;
        margin: 24px 12px 24px 0;
        font: 16px/24px HUGEAvantGardeBold;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
    }


    .nav-mobile {
        display: block;
    }

    .navigation ul li:hover > a{
        background-color: #eee;
    }

    .navigation .sub {
        display: block;
        position: relative;
        padding: 12px 0 12px 0;
   		margin: 0;
   		width: 100%;

    }

    .nav-template.animate-in {
        left: 0;
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease;
    }

    .nav-template.animate-out {
        left: -60%;
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease;
    }

    .hide {
        display: none !important;
    }

    .show {
        display: block !important;
    }

    .navigation .sub a {
    	font:14px/26px 'Galaxie';
    }

    .navigation li.active:before > a {
    	display: block;
		text-indent: -9999px;
		width: 100px;
		height: 82px;
		background-size: 100px 82px;
    	background: url(../images/toogle-open.svg);
  		background-size: 100px 82px; 
    }

	.navigation ul  a {
        color: black;
        text-align: left;
        display: block;
        text-decoration: none;
        padding: 13px 12px 9px 24px;
        font: 16px/26px HUGEAvantGardeBold;
    }

}
